.navBarBox{
    height: 60px;
    width: 100%;
    background-color: rgb(67, 49, 225);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.navBarLeft{
    flex: 3;
}

.navBarCenter{
    flex: 5;
}

.navBarRight{
    flex: 4;
    display: flex;
    align-items: center;
    color: white;
}

.navBarIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}

.navBarIcon{
    margin-left: 20px;
    cursor: pointer;
}

.navBarLinks{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.navBarLink{
    margin-left: 10px;
}

.profilePicimg{
    width: 40px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 70px;
    cursor: pointer;
}

.logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.searchBarBox{
    widows: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    border-color: black;
    display: flex;
    align-items: center;
}

.searchIcon{
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 80%;
}

.searchInput:focus{
    outline: none;
}

.iconTag{
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    position: absolute;
    border-radius: 50%;
    justify-content: space-between;
}